
.marvel-cards{
    @include flex-center;
    flex-wrap: wrap;
}

.card-div{
    @include flex-center;
    flex-direction: column;
    text-align: center;
    height: 420px;
    width: 280px;
    margin-top: $margin-l;
    @include card-name;
    h3{
        margin-top: $margin-s;
    }

}

.card-home {
    height: 350px;
    width: 230px;
    // margin: $margin-l;
    box-shadow: $box-shadow;
    transition: all 0.5s;
    @include card-transition;
}

.card-selected {

}

.card-character {

}