p {
  color: #161a1d; }

body {
  background-color: #D3D3D3; }

.box {
  margin-top: 10px;
  border-radius: 1em;
  display: flex;
  align-items: center;
  height: 100px;
  width: 300px; }
  .box:hover {
    box-shadow: 1px 13px 19px -6px rgba(22, 26, 29, 0.75);
    font-weight: bold; }
  .box.box-blue {
    background-color: #A4161A;
    width: 100px;
    justify-content: flex-start; }
  .box.box-red {
    background-color: #BA181B;
    width: 100px;
    justify-content: flex-end;
    margin-left: 10px; }
